.fancy-btn {
  border-radius: 2rem;
  border: solid 0.5px bisque;
}

.fancy-btn > a {
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  line-height: 8px;
}

.fancy-btn img {
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}